.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .paginationButton{
    background: #2AA8FF;
    color: white;
  }