@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;700&display=swap');
body{
        background: linear-gradient(81deg, #E7F0FF 209.01%,rgba(232,241,255,0.47)89.11%);
        background-size: cover;
        font-family: 'Poppins';
}
.container{
        width: 90%;
        margin: 0 auto;
}
.overview{
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: rgba(255, 255, 255, 1);
        background: #2AA8FF;
}
/* @media(max-width:600px){
        .container{
                padding: 0px 10px;
        }
        
} */